<!DOCTYPE html>
<html style="background: url(images/bg.jpg) no-repeat center center fixed;">
  <head>
    <meta charset="utf-8">
    <title>Login App</title>
    <!-- BOOSTRAP 4 -->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles1.css')}}">
  </head>
  <body>

    <div class="login-box">
        {% block body %}
        {% endblock %}

    </div>

    <!-- footer -->
    <!-- scripts -->
    
  </body>
</html>
